<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- Database Configuration -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/properties/database.properties</value>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop><!-- create -->
			</props>
		</property>

		<property name="mappingLocations">
			<list>
				<value>classpath:vn/co/taxinet/orm/mapping/Accounttransaction.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Address.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Agent.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Bank.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Bussinessunit.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Carmaker.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Cartype.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/City.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Cityname.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Company.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Companyparkarea.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Country.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Currentstatus.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Document.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Driver.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Favoritedriver.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Invitationlog.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Language.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Payment.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Pricepanel.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Referencedata.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Rider.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Staff.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/TaxiNetUsers.hbm.xml
				</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Term.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Trip.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Usergroup.hbm.xml</value>
				<value>classpath:vn/co/taxinet/orm/mapping/Vehicle.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- Transaction configuration -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Beans configuration -->
	<bean id="accountTransactionDAO" class="vn.co.taxinet.dao.impl.AccountTransactionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="addressDAO" class="vn.co.taxinet.dao.impl.AddressDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="agentDAO" class="vn.co.taxinet.dao.impl.AgentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="bankDAO" class="vn.co.taxinet.dao.impl.BankDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="baseDAO" class="vn.co.taxinet.dao.impl.BaseDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="carMakerDAO" class="vn.co.taxinet.dao.impl.CarMakerDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="carTypeDAO" class="vn.co.taxinet.dao.impl.CarTypeDAOImplement">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="cityDAO" class="vn.co.taxinet.dao.impl.CityDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="cityNameDAO" class="vn.co.taxinet.dao.impl.CityNameDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="companyDAO" class="vn.co.taxinet.dao.impl.CompanyDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="companyParkAreaDAO" class="vn.co.taxinet.dao.impl.CompanyParkAreaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="countryDAO" class="vn.co.taxinet.dao.impl.CountryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="currentStatusDAO" class="vn.co.taxinet.dao.impl.CurrentStatusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="documentDAO" class="vn.co.taxinet.dao.impl.DocumentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="driverDAO" class="vn.co.taxinet.dao.impl.DriverDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="favoriteDriverDAO" class="vn.co.taxinet.dao.impl.FavoriteDriverDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="invitationLogDAO" class="vn.co.taxinet.dao.impl.InvitationLogDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="languageDAO" class="vn.co.taxinet.dao.impl.LanguageDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="paymentDAO" class="vn.co.taxinet.dao.impl.PaymentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="pricePanelDAO" class="vn.co.taxinet.dao.impl.PricePanelDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="referenceDataDAO" class="vn.co.taxinet.dao.impl.ReferenceDataDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="riderDAO" class="vn.co.taxinet.dao.impl.RiderDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="taxiNetUserDAO" class="vn.co.taxinet.dao.impl.TaxiNetUserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="termDAO" class="vn.co.taxinet.dao.impl.TermDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="tripDAO" class="vn.co.taxinet.dao.impl.TripDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userGroupDAO" class="vn.co.taxinet.dao.impl.UserGroupDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="vehicleDAO" class="vn.co.taxinet.dao.impl.VehicleDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- BO beans declaration -->
	<bean id="authenticationService" class="vn.co.taxinet.bo.impl.AuthenticationBOImpl">
		<property name="taxiNetUserDAO" ref="taxiNetUserDAO" />
	</bean>
	<bean id="termBO" class="vn.co.taxinet.bo.impl.TermBOImpl">
		<property name="termDAO" ref="termDAO" />
	</bean>
	<!-- <bean id="CurrentStatusBO" class="vn.co.taxinet.bo.impl.CurrentStatusBOImpl"> 
		<property name="CurrentStatusDAO" ref="CurrentStatusBO" /> </bean> -->
	<bean id="agentBO" class="vn.co.taxinet.bo.impl.AgentBOImpl">
		<property name="taxiNetUserDAO" ref="taxiNetUserDAO" />
		<property name="cityNameDAO" ref="cityNameDAO" />
		<property name="accountTransactionDAO" ref="accountTransactionDAO" />
		<property name="agentDAO" ref="agentDAO" />
	</bean>
	<bean id="riderBO" class="vn.co.taxinet.bo.impl.RiderBOImpl">
		<property name="riderDAO" ref="riderDAO" />
		<property name="taxiNetUserDAO" ref="taxiNetUserDAO" />
		<property name="userGroupDAO" ref="userGroupDAO" />
	</bean>
	<bean id="driverBO" class="vn.co.taxinet.bo.impl.DriverBOImpl">
		<property name="driverDAO" ref="driverDAO" />
		<property name="cityNameDAO" ref="cityNameDAO" />
		<property name="countryDAO" ref="countryDAO" />
		<property name="carMakerDAO" ref="carMakerDAO" />
		<property name="vehicleDAO" ref="vehicleDAO" />
		<property name="taxiNetUserDAO" ref="taxiNetUserDAO" />
		<property name="currentStatusDAO" ref="currentStatusDAO" />
		<property name="carTypeDAO" ref="carTypeDAO" />
		<property name="pricePanelDAO" ref="pricePanelDAO" />
	</bean>
	<bean id="tripBO" class="vn.co.taxinet.bo.impl.TripBOImpl">
		<property name="tripDAO" ref="tripDAO" />
		<property name="riderDAO" ref="riderDAO" />
		<property name="driverDAO" ref="driverDAO" />
		<property name="cityDAO" ref="cityDAO" />
		<property name="paymentDAO" ref="paymentDAO" />
		<property name="currentStatusDAO" ref="currentStatusDAO" />
	</bean>
	<bean id="taxiNetUserBO" class="vn.co.taxinet.bo.impl.TaxiNetUserBOImpl">
		<property name="taxiNetUserDAO" ref="taxiNetUserDAO" />
		<property name="userGroupDAO" ref="userGroupDAO" />
		<property name="languageDAO" ref="languageDAO" />
		<property name="countryDAO" ref="countryDAO" />
		<property name="riderDAO" ref="riderDAO" />
		<property name="driverDAO" ref="driverDAO" />
	</bean>
	<bean id="companyBO" class="vn.co.taxinet.bo.impl.CompanyBOImpl">
		<property name="companyDAO" ref="companyDAO" />
		<property name="taxiNetUserDAO" ref="taxiNetUserDAO" />
		<property name="cityNameDAO" ref="cityNameDAO" />
	</bean>
</beans>
